<section ng-controller="AuthenticationController">
    <div class="row">
        <div ng-show="!isEmailValid" class="invalid-fields-warning">
            Email inválido.
        </div>
        <input name="email" type="text" ng-model="email" ng-blur="fieldOnBlur('email', this.email)" ng-change="updateLoginFormData('email', this.email)" placeholder="Email" id="email" required />        
    </div>
    <div class="row" ng-hide="isForgotPassPage">
        <div ng-show="!isPasswordValid" class="invalid-fields-warning">
            Senha deve conter um mínimo de 8 dígitos.
        </div>
        <input name="password" type="password" ng-model="password" ng-blur="fieldOnBlur('password', this.password)" ng-change="updateLoginFormData('password', this.password)" placeholder="Senha" id="password" ng-required="!isForgotPassPage" />        
    </div>
</section>
