<section ng-controller="ForgotPassController">
	<div class="login-container">
			<section id="login-content">
				<form name="forgotPassForm" method="GET" ng-submit="forgotPass(forgotPassForm, 'POST')">
					<h1 id="login-title">Enviar Senha</h1>

					<div ng-include src="signFieldsPath"></div>
					
					<div class="row">
						<div class="row">
							<input class="col-offset-4 col-4 col-offset-4" type="submit" value="Enviar" />
						</div>
						<div class="row text-center">
							<div class="col-6" style="margin-bottom: 14px;">
								<a ui-sref="sign-in">Login</a>
							</div>
							<div class="col-6" style="margin-bottom: 14px;">
								<a ui-sref="sign-up">Registrar</a>
							</div>					
						</div>				
					</div>
				</form><!-- form -->
				<div class="button"></div><!-- button -->
			</section><!-- content -->
		</div><!-- container -->
</section>