<div class="login-container">
	<section id="login-content">
		<form action="">
			<h1 id="login-title">Login</h1>
			<div class="row">
				<input type="text" placeholder="Email" required="" id="email" />
			</div>
			<div class="row">
				<input type="password" placeholder="Senha" required="" id="password" />
			</div>
			<div class="row">
				<div class="row">
					<input class="col-offset-4 col-4 col-offset-4" type="submit" value="Log in" />
				</div>
				<div class="row text-center">
					<div class="col-6" style="margin-bottom: 14px;">
						<a href="#">Esqueceu a senha?</a>
					</div>
					<div class="col-6" style="margin-bottom: 14px;">
						<a href="#">Registrar</a>
					</div>					
				</div>				
			</div>
		</form><!-- form -->
		<div class="button"></div><!-- button -->
	</section><!-- content -->
</div><!-- container -->