<section ng-controller="SignInController">
	<div class="login-container">
			<section id="login-content">
				<form name="signInForm" method="GET" ng-submit="signin(signInForm, 'POST', '/signing-in')">
					<h1 id="login-title">Log in</h1>
					<div ng-include src="signFieldsPath"></div>
					<div class="row">
						<div class="row">
							<input class="col-offset-4 col-4 col-offset-4" type="submit" value="Log In" />
						</div>
						<div class="row text-center">
							<div class="col-6" style="margin-bottom: 14px;">
								<a href="forgot-pass">Esqueceu a senha?</a>
							</div>
							<div class="col-6" style="margin-bottom: 14px;">
								<a ui-sref="sign-up">Registrar</a>
							</div>					
						</div>				
					</div>
				</form><!-- form -->
				<div class="button"></div><!-- button -->
			</section><!-- content -->
		</div><!-- container -->
</section>