<section ng-controller="SignUpController">
	<div class="login-container">
			<section id="login-content">
				<form name="signUpForm" method="POST" ng-submit="signup(signUpForm)">
					<h1 id="login-title">Registrar</h1>
					<div ng-include src="signFieldsPath"></div>
					<div class="row">
						<div class="row">
							<input class="col-offset-4 col-4 col-offset-4" type="submit" value="Registrar" />
						</div>
						<div class="row text-center">
							<div class="col-6" style="margin-bottom: 14px;">
								<a href="forgot-pass">Esqueceu a senha?</a>
							</div>
							<div class="col-6" style="margin-bottom: 14px;">
								<a ui-sref="sign-in">Logar</a>
							</div>					
						</div>				
					</div>
				</form><!-- form -->
				<div class="button"></div><!-- button -->
			</section><!-- content -->
		</div><!-- container -->
</section>