html, body, .content, .container {
	height: 100%;
}
body {
	min-width: 320px;
}
.content {
	width: 100%;
}
.index-view {
	position: relative;
    top: 50%;
    transform: translateY(-57%);
}
#alert {
	position: absolute;
	width: 100%;
	opacity: 0.8;
	display: none;
}